.vs
Library
.obj
Win32
.tlog
/TauTest/SoundFont/CrisisGeneralMidi301.sf2
/TauTest/SoundFont/CrisisGeneralMidi301test.sf2
/TauTest/SoundFont/Farfisa Grand Piano V4.sf2
/TauTest/SoundFont/gnusmas_gm_soundfont_2.01test.sf2
/TauTest/SoundFont/p.sf2
/TauTest/SoundFont/SGM-V2.01.sf2
/TauTest/SoundFont/Sonatina_Symphonic_Orchestra.sf2
/TauTest/SoundFont/tongfang.sf2
/TauTest/SoundFont/霸王龙-63M.sf2
/TauTest/midi/BA.DECIMATIONMODE.mid.OR.mid
/TauTest/midi/52Test5.mid
/TauTest/midi/52Test4.mid
/TauTest/midi/52Test3.mid
/TauTest/midi/52Test2.mid
/TauTest/midi/52Test.mid
/TauTest/midi/【黑乐谱】Zeemeeuw-lindequist.mid
/TauTest/midi/【黑乐谱】Megalovania.mid
/TauTest/midi/黑乐谱Victory.mid
/TauTest/midi/黑乐谱 ASGORE.mid
/TauTest/midi/Fujiwara no Mokou's Theme act.5.0 32 million ICEwiimaker.mid
/TauTest/midi/Test087.mid
/TauTest/midi/boundclip.mid
/TauTest/midi/venture2.mid
/portaudio/build/msvc/x64
/rtaudio/msvc/x64
/SDL2/VisualC/SDL/x64
/Tau/msvc/Tau/x64
/TauClr/x64
/TauTest/x64
